{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    <div class="w-1/2 mx-auto mt-10 mb-5">
        {% if messages %}
            {% for message in messages %}
                <p style="color:green;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            {{ task_form.as_p }}
            {{ task_detail_form.as_p }}
            <button type="submit" class="bg-rose-600 text-white py-3 px-10 rounded-sm mt-5">Submit</button>
        </form>
    </div>
</body>
</html>